USE [PROD_stream88]
GO
/****** Object:  Table [dbo].[TRole]    Script Date: 8/16/2016 4:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CreatedBy] [int] NOT NULL DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL DEFAULT ('2000/01/01'),
	[UpdatedBy] [int] NOT NULL DEFAULT ((1)),
	[UpdatedDate] [datetime] NOT NULL DEFAULT ('2000/01/01'),
 CONSTRAINT [PK_TRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUser]    Script Date: 8/16/2016 4:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRole] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL DEFAULT ((1)),
	[CreatedDate] [datetime] NOT NULL DEFAULT ('2000/01/01'),
	[UpdatedBy] [int] NOT NULL DEFAULT ((1)),
	[UpdatedDate] [datetime] NOT NULL DEFAULT ('2000/01/01'),
 CONSTRAINT [PK_TUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TView]    Script Date: 8/16/2016 4:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TView](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdParent] [varchar](250) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[GroupName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TView] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TViewAccess]    Script Date: 8/16/2016 4:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TViewAccess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdView] [int] NOT NULL,
	[IdRole] [int] NOT NULL,
	[AccessRight] [int] NOT NULL,
 CONSTRAINT [PK_TAccessibility] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[TUser]  WITH CHECK ADD  CONSTRAINT [FK_TUser_TRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[TRole] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TUser] CHECK CONSTRAINT [FK_TUser_TRole]
GO
ALTER TABLE [dbo].[TUser]  WITH CHECK ADD  CONSTRAINT [FK_TUser_TUserStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[TUserStatus] ([Id])
GO
ALTER TABLE [dbo].[TUser] CHECK CONSTRAINT [FK_TUser_TUserStatus]
GO
ALTER TABLE [dbo].[TViewAccess]  WITH CHECK ADD  CONSTRAINT [FK_TAccessibility_TRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[TRole] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TViewAccess] CHECK CONSTRAINT [FK_TAccessibility_TRole]
GO
ALTER TABLE [dbo].[TViewAccess]  WITH CHECK ADD  CONSTRAINT [FK_TAccessibility_TView] FOREIGN KEY([IdView])
REFERENCES [dbo].[TView] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TViewAccess] CHECK CONSTRAINT [FK_TAccessibility_TView]
GO
