@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nguyen Quang Huy<br />
    Makati, Philippines<br />
    <abbr title="Phone">P:</abbr>
    09999591156
</address>